.login-container {
    position: center;
    border-radius: 25px;
    position: relative;
}
.login-form {
    padding: 20px 20px 0px 20px;
    text-align: center;
    background-color: white;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 75%;
    top: 300px;
    border-radius: 25px;
}

.login-label {
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
}

.login-button {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
}