.message-card {
    background-color: #7451b5;
    border-style: solid;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-column-start: 1;
}

.message-title {
    color: whitesmoke;
    padding: 10px 10px 10px 10px;
}

.message-content {
    background-color: whitesmoke;
    padding: 10px 10px 10px 10px;
}

.message-card-button {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}