.register-container {
    background-color: lightgrey;
    padding: 10px 10px 10px 10px;
}
.register-form {
    padding: 10px 10px 10px 10px;
}

.register-label {
    padding-top: 10px;
    padding-bottom: 10px;
}

.register-button {
    padding-left: 10px;
}